---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/api/v2/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Harvest-Account-ID:
      - '123456'
      Authorization:
      - Bearer HARVEST_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-app-server:
      - app6
      x-server:
      - lb2
    body:
      encoding: ASCII-8BIT
      string: '{"id":8753897,"first_name":"Marek","last_name":"Mateja","email":"matejowy@gmail.com","telephone":"","timezone":"Warsaw","weekly_capacity":144000,"has_access_to_all_future_projects":false,"is_contractor":true,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2015-07-16T08:26:02Z","updated_at":"2017-11-07T20:39:46Z","avatar_url":"https://cache.harvestapp.com/assets/profile_images/allen_bradley_clock_tower.png?1447935996"}'
  recorded_at: Wed, 22 Nov 2017 23:21:55 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/api/v2/time_entries?from=2017-11-10&to=2017-11-11&user_id=8753897
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Harvest-Account-ID:
      - '123456'
      Authorization:
      - Bearer HARVEST_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-app-server:
      - app11
      x-server:
      - lb2
    body:
      encoding: ASCII-8BIT
      string: '{"time_entries":[
      {"id":7010485,"spent_date":"2017-11-10","user":{"id":8797,"name":"Marek Mateja"},"client":{"id":3193,"name":"Client"},"project":{"id":7185233,"name":"Project 1"},"task":{"id":4101940,"name":"Task 1"},"user_assignment":{"id":70255812,"is_project_manager":false,"is_active":true,"budget":null,"created_at":"2015-08-04T08:35:50Z","updated_at":"2015-08-04T08:35:50Z","hourly_rate":null},"task_assignment":{"id":85582292,"billable":true,"is_active":true,"created_at":"2015-04-01T07:31:45Z","updated_at":"2015-04-01T07:31:59Z","hourly_rate":null,"budget":null},"hours":5.5,"notes":"","created_at":"2017-11-10T09:03:53Z","updated_at":"2017-11-10T09:03:53Z","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"external_reference":null,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null},
      {"id":7010484,"spent_date":"2017-11-11","user":{"id":8797,"name":"Marek Mateja"},"client":{"id":3193,"name":"Client"},"project":{"id":1189067,"name":"Project 2"},"task":{"id":3815657,"name":"Task 2"},"user_assignment":{"id":100830494,"is_project_manager":false,"is_active":true,"budget":null,"created_at":"2016-09-26T08:56:20Z","updated_at":"2016-09-26T08:56:20Z","hourly_rate":null},"task_assignment":{"id":128969846,"billable":true,"is_active":true,"created_at":"2016-09-26T08:56:20Z","updated_at":"2016-09-26T08:56:20Z","hourly_rate":null,"budget":null},"hours":8.0,"notes":null,"created_at":"2017-11-10T09:03:53Z","updated_at":"2017-11-10T09:03:53Z","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"external_reference":null,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null}
      ],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/time_entries?from=2017-11-10&page=1&per_page=100&to=2017-11-12&user_id=8753897","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/time_entries?from=2017-11-10&page=1&per_page=100&to=2017-11-12&user_id=8753897"}}'
  recorded_at: Wed, 22 Nov 2017 23:21:56 GMT
recorded_with: VCR 3.0.3
